/*Anna Boonyanit, 2018, CS80Q*/

p {
 font-family: 'Montserrat', sans-serif;
	margin-left: 150px;
 margin-right: 150px;
	
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
 	font-size: 400.01%;
 		text-align: center;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-left: 150px;
 margin-right: 150px;
}
img {
	margin-left: 150px;
	 margin-right: 20px;
	 	 margin-bottom: 20px;


}